---
layout: post
title: Chace's Tech Blog
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>


{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
        <h1 class="project-name">{{site.title}}</h1>
        <h2 class="project-tagline">{{site.tag_line}}</h2> 
      </header>

    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <div class="nav">

      {% include navigation.html %}

    </div>
    
    <main id="content" class="main-content" role="main">



<h2>{{ page.title }}</h2>
<h3>{{ page.date | date_to_string }}</h3>
{{ content }}

</main>
</body>
</html>